/* You can add global styles to this file, and also import other style files */
body {

    /* background-color: rgb(42, 151, 187); */
    background-color: rgb(152,251,152);
    background-size: cover;
    text-align: center;

    
}