<!-- <p>Create a grocery list component with a table that contains all items in the 
    grocery list with a form for adding a new item, 
    there should also be an option next to each item that allows you to remove items. (20 of the poitns).</p> -->
    <button routerLink="/GroceryLists" type="button" class="button">Return to GroceryLists</button>
 <div *ngIf = "this.a==true">

    <li *ngFor="let item of items"> 
        {{item}} <button type="button" class="button" (click)="remove($index)">Remove</button></li>
</div>

 <h1> Add Item </h1>
 <p>Please insert Name and Type</p>
 
 <p>Item  <input [(ngModel)]="item"> </p>

 <p>Type <input [(ngModel)]="type"> </p> 
  <button type="button" class="button" id="add" (click)="myFunc()">Add</button>
