<!-- <p>Create a grocery lists component with a table that contains all grocery lists, when you click a 
    grocery list it should take you to the component 
    that displays that individual grocery list. (15 of the points)</p> -->
<h1>Lists</h1>
    <table>
            <tr>
    <th>Aaron's list</th>
    <th><button routerLink="/GroceryList" type="button" class="button">View</button></th>
    </tr>
    
    <tr>
    <th>Blake's list</th>
    <th><button routerLink="/GroceryList" type="button" class="button">View</button></th>
    </tr>
    
    <tr>
    <th>Carmen's List</th>
    <th><button routerLink="/GroceryList" type="button" class="button">View</button></th>
    </tr>
    </table>

